# Applying our Own Basic Models #

-----------------------------

Most models from machine learning libraries take a range of 'x_train' data and tries to predict the given 'y_train'

Here we shall attempt to use a very basic dataset and try a range of machine learning models and then compare the results

Loading in dependencies

In [4]:
# Import Dependencies
%matplotlib inline

# Start Python Imports
import math, time, random, datetime

# Data Manipulation
import numpy as np
import pandas as pd

# Visualization 
import matplotlib.pyplot as plt
import missingno
import seaborn as sns
plt.style.use('seaborn-whitegrid')

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

# Machine learning
#import catboost
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
#from catboost import CatBoostClassifier, Pool, cv

Read in all the data into relevant dataframes

In [5]:
train = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\train.csv")
test = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\test.csv")
structures = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\structures.csv")
scalar_coupling_contributions = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\scalar_coupling_contributions.csv")
potential_energy = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\potential_energy.csv")
mulliken_charges = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\mulliken_charges.csv")
magnetic_shielding_tensors = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\magnetic_shielding_tensors.csv")
dipole_moments = pd.read_csv("C:\\Users\\samir\\Desktop\\machineLearningPMP19\\dipole_moments.csv")

In [6]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

One hot label encoding is needed for the 'type' of scalar coupling

First the type coloumn is label encoded

In [75]:
le = LabelEncoder()
train['type'] = le.fit_transform(train['type'])
# train_enc = train.apply(le.fit_transform)
# train_enc.head()
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,0,84.8076
1,1,dsgdb9nsd_000001,1,2,3,-11.2570
2,2,dsgdb9nsd_000001,1,3,3,-11.2548
3,3,dsgdb9nsd_000001,1,4,3,-11.2543
4,4,dsgdb9nsd_000001,2,0,0,84.8074